/** ----------- FONTS ------------ **/
$font-family-base: 'Ubuntu', sans-serif;
$headings-font-family: 'Montserrat', sans-serif;
$custom-subheadings-font-family: 'Oxygen', sans-serif;

/** --------- Z-INDEXES ---------- **/
$z-index-section-inactive: 10;
$z-index-section-active: 20;
$z-index-sidebar: 100;
$z-index-nav-tabs: 200;
$z-index-modal: 9000;
$z-index-notifications: 9500;
$z-index-dialogs:9800;
$z-index-activity-spinner: 9990;
$z-index-animated-cursor: 9995;
$z-index-loader: 9999;

/** ----------- LAYOUT ----------- **/
$sidebar-width: 280px;
$sidebar-shrink-width: 120px;
$nav-tabs-height: 55px;
$nav-tabs-chrome-offset: 20px;
$standard-border-radius: 10px;
$layout-blocks-spacing: 0.5rem;
$sidebar-min-breakpoint: md;

/** ----------- COLORS ----------- **/

/** COLORS - overriding bootstrap colors **/
$primary: #0891b2;
$secondary: #6c757d;
$dark: #222;
$light: #EEE;

/** COLORS - static **/
$loader-background-color: #222;

:root {
    --mobile-layout-breakpoint: md;
}

/** COLORS - dark theme palette **/
:root {
    --theme-main: #222;
    --theme-main-2: #282C34; /* Новое значение */
    --theme-main-3: #343C48; /* Новое значение */
    --theme-main-4: #414B5B; /* Новое значение */
   
    --theme-secondary: #EEEEEE;
    --theme-secondary-2: #D1D1D1;
    --theme-secondary-3: #bbbbbb;
    --theme-secondary-4: #999;
   
    --theme-soft: #212121;
    --theme-soft-2: #252525;
    --theme-soft-3: #292929;
   
    --theme-highlight: #0d9488;
    --theme-highlight-2: #0891b2; /* bbb */
    --theme-highlight-3: #999;
   
    --theme-dark: #101010;
    --theme-dark-opacity: #0890b22f;
    --theme-muted: #6c757d;
    --theme-white: #aaa; /* иконки в форме обратной связи */
   
    --theme-bg: url('');
    --theme-bg-color: #1C1C1C;
    --theme-section-background: #1A1A1A;
    --theme-section-background-opacity: rgba(26, 26, 26, 0.86);
    --theme-tag-color: #181818;
    --theme-box-shadow: none;
   
    --theme-nav-background: #1A1A1A;
    --theme-nav-background-disabled: #181818;
    --theme-nav-secondary: #EEEEEE;
    --theme-nav-light: #1f2022;
    --theme-nav-highlight: #0891b2;
    --theme-nav-selected: #232526;
   
    --theme-scrollbar-track: #111111;
    --theme-scrollbar-thumb: #32343a;
    --theme-chart-borders: #ccc;
   
    --theme-danger: #730808;
   }


/** COLORS - light theme palette **/
[data-theme="light"] {
    --theme-main: #999;
    --theme-main-2: #888;
    --theme-main-3: #777;
    --theme-main-4: #0891b2;
   
    --theme-secondary: #222;  
    --theme-secondary-2: #49564a;
    --theme-secondary-3: #576758;
    --theme-secondary-4: #5e6c5e;
   
    --theme-soft: #ccc; /* бордер круга отзывы */
    --theme-soft-2: #bbb; /* фон карточки отзывы */
    --theme-soft-3: #aaa; /* бордер круга увлечения */
   
    --theme-dark: #ccc; /* фон шкалы прогресса и текст табов блок портфолио */
    --theme-dark-opacity: #155f752a; /* граница круга под фото онлайна */
    --theme-muted: #555; /* текст и процент шкалы прогресса и текст на карточке увлечения */
    --theme-white: #777; /* иконки формы обратной связи в полях импутов */
   
    --theme-highlight: #0f766e;
    --theme-highlight-2: #0e7490; /*666 ссылки почта, гитхаб, бордет активного пункта меню */
    --theme-highlight-3: #414141;
   
    --theme-bg: url('');
    --theme-bg-color: #eee; /* фон темы */ 
    --theme-section-background: #ddd; /* фон childrens */ 
    --theme-section-background-opacity: #ddd; /* фон childrens в мобилке */
    --theme-tag-color: #eee; /* цвет тегов в карточках */
    --theme-box-shadow: none;

    --theme-nav-background: #ddd; /* фон карточки визитки */ 
    --theme-nav-background-disabled: #ddd; /* фон мобильного меню bottom */
    --theme-nav-secondary: #000; /* цвет не выбранного пункта мобильного меню bottom */
    --theme-nav-light: #ccc; /* border мобильного меню bottom  */
    --theme-nav-highlight: #0891b2; /* цвет текста и иконки выбранного пункта мобильного меню bottom */
    --theme-nav-selected: #eee; /* выбранный пункт мобильного меню bottom */

    --theme-scrollbar-track: #ccc;
    --theme-scrollbar-thumb: #999;
    --theme-chart-borders: #e30606; 

    --theme-danger: #fad6d6;
}

.bg-dark {
    background-image: url('/images/css/bg-dark.png');
    background-size: cover;
    background-position: center;
}

.bg-white {
    background-image: url('/images/css/bg-green.png');
    background-size: cover;
    background-position: center;
}